<section class="contact-area" id="concatct" >
    <h3 class="section-title"> Nuestro <span>contacto</span></h3>
    <ul class="contact-content">
        <li>
            <i class="fa fa-map-marker"></i>
            <br>
            <a href="https://maps.google.com/?q=-34.903832, -56.137679" target="_blank"> 129,Montevideo<br>
            Uruguay </a>
        </li>
        <li>
            <i class="fa fa-phone"></i>
            <br>
            <a href="tel:+12345678">+123 456 789</a><br>
            <a href="tel:+7891232">+789 456 123</a>
        </li>
        <li>
            <i class="fa fa-envelope"></i>
            <br>
            <a href="mailto:info@gym.com">info@bishop.com
            </a><br>
            <a href="https://www.google.com/" target="_blank">yourdomain@website.com</a>
        </li>
    </ul>
</section>