<section class="about-area" id="about">
    <h3>Quienes <span>Somos </span></h3>
    <ul class="about-content">
      <li class="about-left"></li>
      <li class="about-right">
        <h2>
          El éxito no se logra sólo con fuerza física, sino con perseverancia
          y dedicación
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
          excepturi, similique aut nesciunt, illo tenetur deleniti ab soluta
          nisi impedit ipsam consectetur magni! Atque sunt voluptate fuga,
          perspiciatis corrupti maiores dignissimos deserunt cupiditate, nihil
          inventore. Lorem ipsum dolor sit amet
        </p>
        <p><i class="fa fa-arrow-right"></i> Lorem ipsum dolor sit amet</p>
        <p>
          <i class="fa fa-arrow-right"></i> deleniti ab soluta nisi impedit
        </p>
        <p>
          <i class="fa fa-arrow-right"></i> maiores dignissimos deserunt
          cupiditate
        </p>
        <p>
          <i class="fa fa-arrow-right"></i> illo tenetur deleniti ab soluta
          nisi
        </p>
      </li>
    </ul>
  </section>