<header>
  <h2>
    <a href="#"><img alt="" src="/assets/images/logo.png" /></a>
  </h2>

  <ul class="nav">
    <li>
      <a routerLink="/home">Inicio</a>
    </li>
    <li>
      <a routerLink="/about">Nosotros</a>
    </li>
    <li>
      <a routerLink="/services">Servicios</a>
    </li>
    <li>
      <a routerLink="/contact">Contacto</a>
    </li>
  </ul>
</header>
<router-outlet>
<!-- <app-banner></app-banner>
<app-about></app-about>
<app-message></app-message>
<app-services></app-services>
<app-contact></app-contact> -->

</router-outlet>


