header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    color: #fff;
    background-color: #000;
}

header h2 span {
    color: #bf0a30;
}

header h2 img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

header ul.nav {
    display: flex;
}

header ul.nav li{
    margin: 0 15px;
}

header ul.nav li:first-child {
	margin-left: 0;
}
header ul.nav li:last-child {
	margin-right: 0;
}

