<section class="services-area" id="services">
    <h3 class="section-title">Que <span>Ofrecemos</span></h3>
    <ul class="services-content">
        <li>
            <img src="/assets/images/r1.jpg">
            <h4>Instalaciones</h4>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, distinctio numquam, debitis recusandae magnam nihil voluptatem quam obcaecati illo repellendus ipsam dicta. Ratione, accusamus minus natus eveniet corporis nostrum non!</p>
        </li>

        <li>
            <img src="/assets/images/v1.jpg">
            <h4>Entrenamiento</h4>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, distinctio numquam, debitis recusandae magnam nihil voluptatem quam obcaecati illo repellendus ipsam dicta. Ratione, accusamus minus natus eveniet corporis nostrum non!</p>
        </li>

        <li>
            <img src="/assets/images/o1.jpg">
            <h4>Nutricion</h4>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, distinctio numquam, debitis recusandae magnam nihil voluptatem quam obcaecati illo repellendus ipsam dicta. Ratione, accusamus minus natus eveniet corporis nostrum non!</p>
        </li>
    </ul>

</section>
